<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="admin" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Attendance</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link mx-2" href="register-a"><b>Register</b></a>
                </ul>
                <hr>
            </div>
        </div>
         <div class="table" >
            <table datatable="ng" dt-options="vm.dtOptions" class="table table-bordered table-striped">
                 <thead>
                  <tr>
                   <th>id</th>
                   <th>Userid</th>
                   <th>Timein</th>
                   <th>Timeinimage</th>
                   <th>Timeinloc</th>
                   <th>Timeout</th>
                   <th>Timeoutimage</th>
                   <th>Timeoutloc</th>
                  </tr>
                 </thead>
                 <tbody> 
               <!--<p>{{users[2].userid}}</p>-->
                    
                  <tr  *ngFor="let index of users; index as i">
                   <td>{{users[i].id}}</td>
                   <td>{{users[i].userid}}</td>
                   <td>{{users[i].timein}}</td> 
                   <td>{{users[i].timeinimage}}</td>
                   <td>{{users[i].timeinloc}}</td>
                   <td>{{users[i].timeout}}</td>
                   <td>{{users[i].timeoutimage}}</td>
                   <td>{{users[i].timeoutloc}}</td>
                  </tr>
                 </tbody>
                </table>
               </div> 
               
        
    </div>
</div>

