<!--<div class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    
 <ng-fullcalendar #calendar [options]="calendarOptions" (eventClick)="onEventClick($event.detail.event)">
 </ng-fullcalendar>
-->
<!--<full-calendar #calendar [options]="calendarOptions" (eventClick)="onEventClick($event.detail.event)">
</full-calendar>
  </div>
</div>--> 
<!--<div id="calendar"></div>-->
<!--<div class="container">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>-->