
<!-- <iframe id="frame" [src]="'https://maps.google.com/maps?q='+lat+','+lng+'&h1=en&z=14amp;output=embed'" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->

<!-- <iframe id="frame" [src]="safeurl" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<p>
    your current location is: <br>
    lat:{{lat}}<br>
    lng:{{lng}}
</p>
 -->

 <!-- <div id="map" style="height: 450px"></div> -->

<iframe style="border:0; width: 100%; height: 700px;" 
src="https://maps.google.com/maps?q=12.9791994,80.2379365&h1=es&z=14&amp;output=embed" frameborder="0" allowfullscreen="">
</iframe>