<div class="card">
    <div class="card-body">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Task Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="taskmanagement">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="calendar">Calendar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="files">Files</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="analytics">Analytics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sidebar">testing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sidebar"></a>
            </li>
          </ul>
        </div>
      </nav>
      
    </div>
  </div>
